all_flows.json
[
    {
        "id": "36b23c0d.bf2cec",
        "type": "tab",
        "label": "Workshop",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e8ebc87d.0e1fe8",
        "type": "tab",
        "label": "Global",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e37df6bc.11daa",
        "type": "tab",
        "label": "3D Printer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "94f6bb63.1811a8",
        "type": "tab",
        "label": "Kitchen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c79a5793.feeff8",
        "type": "tab",
        "label": "Lounge",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fae66450.b1de",
        "type": "tab",
        "label": "Liam's Room",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6461f072.dc1338",
        "type": "tab",
        "label": "Deconz",
        "disabled": false,
        "info": ""
    },
    {
        "id": "81285515.4f20b",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "14740fd0.f16d88",
        "type": "tab",
        "label": "Printer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "49385e01.b3f238",
        "type": "subflow",
        "name": "Cube",
        "info": "msg.event = \"Slide, Flip, 180 Flip, Double tap, Drop\"\nmsg.side",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "ace1b8e5.93c158"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 100,
                "wires": [
                    {
                        "id": "ebb0c078.7c2708",
                        "port": 0
                    }
                ]
            },
            {
                "x": 760,
                "y": 260,
                "wires": [
                    {
                        "id": "ace1b8e5.93c158",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "5cd102c5.e6257c",
        "type": "subflow",
        "name": "Vibration Sensor",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "8685a857.22371"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 800,
                "y": 60,
                "wires": [
                    {
                        "id": "645448dc.4cbbf8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 820,
                "y": 180,
                "wires": [
                    {
                        "id": "63c2bef9.3bb31",
                        "port": 1
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "5a42b34b.06243c",
        "type": "subflow",
        "name": "Bedroom Lights",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "88d2e991.a63698"
                    },
                    {
                        "id": "cb83c19d.e843d"
                    },
                    {
                        "id": "7d4e0e1f.6fe7f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 80,
                "wires": [
                    {
                        "id": "88d2e991.a63698",
                        "port": 0
                    },
                    {
                        "id": "cb83c19d.e843d",
                        "port": 0
                    },
                    {
                        "id": "7d4e0e1f.6fe7f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "608fb6b.30be348",
        "type": "subflow",
        "name": "SMTSKT Commands",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "e5aec5a3.e231c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 700,
                "y": 20,
                "wires": [
                    {
                        "id": "5f4345b5.2b507c",
                        "port": 0
                    },
                    {
                        "id": "e5fb31a9.85be98",
                        "port": 0
                    },
                    {
                        "id": "6258cd66.b9d874",
                        "port": 0
                    },
                    {
                        "id": "c5fa4612.854b1",
                        "port": 0
                    }
                ]
            },
            {
                "x": 700,
                "y": 200,
                "wires": [
                    {
                        "id": "4c9134.17fb7ecc",
                        "port": "5"
                    },
                    {
                        "id": "4c9134.17fb7ecc",
                        "port": "6"
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "SMTSKTNUM",
                "type": "str",
                "value": "00"
            }
        ],
        "color": "#DDAA99",
        "status": {
            "x": 880,
            "y": 300,
            "wires": [
                {
                    "id": "8905c984.c64e5",
                    "port": 0
                },
                {
                    "id": "418ad549.690694",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "518da3.87cfd25c",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "c2015de1.04962"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "8e16c3f0.e7c9d8",
        "type": "subflow",
        "name": "Widget and Graph prep",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "c0098903.1e9858"
                    },
                    {
                        "id": "6a19029b.00688c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 920,
                "y": 80,
                "wires": [
                    {
                        "id": "4650a11f.4472b8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 920,
                "y": 140,
                "wires": [
                    {
                        "id": "6a19029b.00688c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Name",
                "type": "str",
                "value": "unknown"
            }
        ],
        "color": "#3FADB5",
        "outputLabels": [
            "Widget",
            "Graph"
        ],
        "icon": "font-awesome/fa-graduation-cap"
    },
    {
        "id": "dbc7cc2c.c9d8f8",
        "type": "subflow",
        "name": "Button Events",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "1bd051e8.9292e6"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 380,
                "y": 40,
                "wires": [
                    {
                        "id": "1bd051e8.9292e6",
                        "port": 0
                    }
                ]
            },
            {
                "x": 380,
                "y": 80,
                "wires": [
                    {
                        "id": "1bd051e8.9292e6",
                        "port": 1
                    }
                ]
            },
            {
                "x": 380,
                "y": 120,
                "wires": [
                    {
                        "id": "1bd051e8.9292e6",
                        "port": 2
                    }
                ]
            },
            {
                "x": 380,
                "y": 160,
                "wires": [
                    {
                        "id": "1bd051e8.9292e6",
                        "port": 3
                    }
                ]
            },
            {
                "x": 380,
                "y": 200,
                "wires": [
                    {
                        "id": "1bd051e8.9292e6",
                        "port": 4
                    }
                ]
            },
            {
                "x": 380,
                "y": 240,
                "wires": [
                    {
                        "id": "1bd051e8.9292e6",
                        "port": 5
                    }
                ]
            },
            {
                "x": 380,
                "y": 280,
                "wires": [
                    {
                        "id": "1bd051e8.9292e6",
                        "port": 6
                    }
                ]
            }
        ],
        "env": [],
        "color": "#A6BBCF",
        "outputLabels": [
            "Click",
            "Double Click",
            "Triple Click",
            "Quad Click",
            "Hold",
            "Released",
            "Otherwise"
        ],
        "icon": "node-red-dashboard/ui_button.png"
    },
    {
        "id": "1587791.fcbfc07",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT_OLD",
        "broker": "192.168.1.105",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3fae961a.e0e002",
        "type": "websocket-listener",
        "z": "",
        "path": "ws://192.168.1.105:8088",
        "wholemsg": "false"
    },
    {
        "id": "c62ab10f.01fc5",
        "type": "websocket-client",
        "z": "",
        "path": "ws://192.168.1.105:443",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "d5f10d10.41d608",
        "type": "websocket-listener",
        "z": "",
        "path": "http://192.168.1.105:80/api/E09E33DE20/lights",
        "wholemsg": "false"
    },
    {
        "id": "114d57a3.c0a97",
        "type": "ui_group",
        "z": "",
        "name": "Otaghe e Liam",
        "tab": "",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "d334b4b.ac7cbc8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1e457989.8585e6",
        "type": "ui_group",
        "z": "",
        "name": "Workshop",
        "tab": "",
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "3da98d5b.f5260a",
        "type": "ui_group",
        "z": "",
        "name": "Lounge",
        "tab": "",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "60f1f31.234c40c",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT",
        "broker": "192.168.1.105",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2461952a.9ab3aa",
        "type": "ui_tab",
        "z": "",
        "name": "Monitor",
        "icon": "fa-fire",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "379f6052.23565",
        "type": "ui_group",
        "z": "",
        "name": "Liam's Room Group",
        "tab": "2461952a.9ab3aa",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "58815b79.724a34",
        "type": "ui_group",
        "z": "",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "283c2dd8.70f82a",
        "type": "ui_group",
        "z": "",
        "name": "Others Group",
        "tab": "2461952a.9ab3aa",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "a61d83e6.9fdba8",
        "type": "ui_group",
        "z": "",
        "name": "Heatpump",
        "tab": "2461952a.9ab3aa",
        "order": 3,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "aabb5468.30ea6",
        "type": "mqtt out",
        "z": "e8ebc87d.0e1fe8",
        "name": "",
        "topic": "/dev/timestamp",
        "qos": "",
        "retain": "",
        "broker": "1587791.fcbfc07",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "f35f639c.2d73b8",
        "type": "inject",
        "z": "e8ebc87d.0e1fe8",
        "name": "1 Second",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "aabb5468.30ea6"
            ]
        ]
    },
    {
        "id": "e3eec603.af15e",
        "type": "comment",
        "z": "36b23c0d.bf2cec",
        "name": "WORKSHOP LIGHTS",
        "info": "",
        "x": 140,
        "y": 300,
        "wires": []
    },
    {
        "id": "8a51465b.a13588",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "/device/atari-stick/BUTTON_LEFT/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "60f1f31.234c40c",
        "x": 200,
        "y": 640,
        "wires": [
            [
                "ad3fcb82.b25d8"
            ]
        ]
    },
    {
        "id": "b20b3bc5.71bb68",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "/device/atari-stick/BUTTON_RIGHT/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 200,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "e84b5960.eb68f8",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT02/event",
        "topic": "/device/smartsocket/SMTSKT02/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 130,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "b1a6f0d1.85df3",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT03/event",
        "topic": "/device/smartsocket/SMTSKT03/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 110,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "7af67802.9e5e7",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT07/event",
        "topic": "/device/smartsocket/SMTSKT07/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 110,
        "y": 1080,
        "wires": [
            [
                "cabf5014.314ed8"
            ]
        ]
    },
    {
        "id": "91f32b09.0c416",
        "type": "mqtt in",
        "z": "94f6bb63.1811a8",
        "name": "",
        "topic": "/kitchen/bench-lights/online",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "c048b89b.f67538"
            ]
        ]
    },
    {
        "id": "c048b89b.f67538",
        "type": "trigger",
        "z": "94f6bb63.1811a8",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "1000",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "Online",
        "x": 450,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "1ab14664.93501a",
        "type": "comment",
        "z": "94f6bb63.1811a8",
        "name": "KITCHEN BENCH LIGHT",
        "info": "",
        "x": 150,
        "y": 340,
        "wires": []
    },
    {
        "id": "118d1e2e.31db22",
        "type": "websocket in",
        "z": "6461f072.dc1338",
        "name": "",
        "server": "",
        "client": "c62ab10f.01fc5",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "bbcaea0c.1d1878"
            ]
        ]
    },
    {
        "id": "b4c98b96.3c6cb",
        "type": "comment",
        "z": "6461f072.dc1338",
        "name": "https://github.com/dresden-elektronik/deconz-rest-plugin/issues/138#issuecomment-325101635",
        "info": "https://github.com/dresden-elektronik/deconz-rest-plugin/issues/138#issuecomment-325101635",
        "x": 330,
        "y": 800,
        "wires": []
    },
    {
        "id": "87d529e3.272978",
        "type": "switch",
        "z": "49385e01.b3f238",
        "name": "Cube",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "ebb0c078.7c2708"
            ],
            []
        ]
    },
    {
        "id": "ebb0c078.7c2708",
        "type": "function",
        "z": "49385e01.b3f238",
        "name": "Event (.event, .side)",
        "func": "\nif (msg.payload.state === undefined || \n    msg.payload.state.buttonevent === undefined) {\n    return null;\n}\n\nvar event = msg.payload.state.buttonevent;\nvar side = Math.round(event/1000);\nvar modifier = event - (side * 1000);\nmsg.side = side;\n\nif (event % 1000 === 0) {\n    msg.event = \"slide\";\n}\nelse if (event === 7007) {\n    msg.event = \"shake\";\n}\nelse if (event === (side*1000) + side) {\n    msg.event = \"doubletap\";\n}\nelse if (side + modifier === 7) {\n    msg.event = \"180flip\";\n}\nelse if (side != 7 - modifier) {\n    msg.event = \"flip\";\n}\nelse if (event === 7008) {\n    msg.event = \"drop\";\n}\nelse {\n    msg.event = \"unknown (\" + event + \")\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ace1b8e5.93c158",
        "type": "json",
        "z": "49385e01.b3f238",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 210,
        "y": 260,
        "wires": [
            [
                "87d529e3.272978"
            ]
        ]
    },
    {
        "id": "b0d0faf6.91905",
        "type": "comment",
        "z": "49385e01.b3f238",
        "name": "Links",
        "info": "http://blog.smarterhome.club/2019/04/30/raspbee4/",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "63c2bef9.3bb31",
        "type": "switch",
        "z": "5cd102c5.e6257c",
        "name": "Vibration",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "645448dc.4cbbf8"
            ],
            []
        ]
    },
    {
        "id": "645448dc.4cbbf8",
        "type": "function",
        "z": "5cd102c5.e6257c",
        "name": "msg.strength",
        "func": "if (msg.payload.state === undefined ||\n    msg.payload.state.vibration === undefined) {\n    return null;        \n}\n\nif (msg.payload.state.vibration === true) {\n    msg.strength = msg.payload.state.strength;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "8685a857.22371",
        "type": "json",
        "z": "5cd102c5.e6257c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "63c2bef9.3bb31"
            ]
        ]
    },
    {
        "id": "d0e4f693.b1f8a8",
        "type": "comment",
        "z": "5cd102c5.e6257c",
        "name": "Links",
        "info": "http://blog.smarterhome.club/2019/04/30/raspbee4/",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "88d2e991.a63698",
        "type": "http request",
        "z": "5a42b34b.06243c",
        "name": "Light 1 State",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/4/state",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "cb83c19d.e843d",
        "type": "http request",
        "z": "5a42b34b.06243c",
        "name": "Light 2 State",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/5/state",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7d4e0e1f.6fe7f",
        "type": "http request",
        "z": "5a42b34b.06243c",
        "name": "Light 3 State",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/6/state",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "bbcaea0c.1d1878",
        "type": "json",
        "z": "6461f072.dc1338",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "170c0ac3.2f7865",
                "3cb416ce.b0d912",
                "f278533b.6f499",
                "8e02d74a.18046",
                "581f45d8.539d64",
                "8b26b83e.2a5368",
                "dfde9ff7.19a588",
                "9ab6d880.9a8e"
            ]
        ]
    },
    {
        "id": "8fe37628.12ef28",
        "type": "function",
        "z": "6461f072.dc1338",
        "name": "ON",
        "func": "if (msg.payload.state !== undefined && msg.payload.state.presence) {\n    msg.payload = \"on\";\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 340,
        "wires": [
            [
                "c127ef4e.40d3c8"
            ]
        ]
    },
    {
        "id": "4993ed64.3b02b4",
        "type": "function",
        "z": "6461f072.dc1338",
        "name": "Event (.event, .side)",
        "func": "\nif (msg.payload.state === undefined || \n    msg.payload.state.buttonevent === undefined) {\n    return null;\n}\n\nvar event = msg.payload.state.buttonevent;\nvar side = Math.round(event/1000);\nvar modifier = event - (side * 1000);\n\nif (event % 1000 === 0) {\n    msg.payload.event = \"slide\";\n}\nelse if (event === 7007) {\n    msg.payload.event = \"shake\";\n}\nelse if (event === (side*1000) + side) {\n    msg.payload.event = \"doubletap\";\n}\nelse if (side + modifier === 7) {\n    msg.payload.event = \"180flip\";\n}\nelse if (side != 7 - modifier) {\n    msg.payload.event = \"flip\";\n}\nelse if (event === 7008) {\n    msg.payload.event = \"drop\";\n}\nelse {\n    msg.payload.event = \"unknown (\" + event + \")\";\n}\nmsg.payload.side = side;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 240,
        "wires": [
            [
                "efbe6026.a81ee8"
            ]
        ]
    },
    {
        "id": "20f92b84.9ee024",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 40,
        "wires": []
    },
    {
        "id": "b2a040e3.03cf78",
        "type": "http request",
        "z": "6461f072.dc1338",
        "name": "Request new API Key from Deconz",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 400,
        "y": 940,
        "wires": [
            [
                "e88738c9.516d7"
            ]
        ]
    },
    {
        "id": "8167212e.b5cfa8",
        "type": "inject",
        "z": "6461f072.dc1338",
        "name": "Headers for API Key",
        "topic": "",
        "payload": "{ \"devicetype\": \"nodered\" }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 940,
        "wires": [
            [
                "b2a040e3.03cf78"
            ]
        ]
    },
    {
        "id": "e88738c9.516d7",
        "type": "json",
        "z": "6461f072.dc1338",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "cf0d093.59246f8",
        "type": "comment",
        "z": "6461f072.dc1338",
        "name": "http://dresden-elektronik.github.io/deconz-rest-doc/getting_started/",
        "info": "",
        "x": 280,
        "y": 980,
        "wires": []
    },
    {
        "id": "ddc9534e.7f19e8",
        "type": "http request",
        "z": "6461f072.dc1338",
        "name": "Get lights",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 480,
        "y": 1140,
        "wires": [
            [
                "2f8435fa.eef8ca"
            ]
        ]
    },
    {
        "id": "26fabda9.d9a8ca",
        "type": "inject",
        "z": "6461f072.dc1338",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 1140,
        "wires": [
            [
                "ddc9534e.7f19e8"
            ]
        ]
    },
    {
        "id": "c0ac5ef1.2b84d8",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 840,
        "y": 1140,
        "wires": []
    },
    {
        "id": "2f8435fa.eef8ca",
        "type": "json",
        "z": "6461f072.dc1338",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 680,
        "y": 1140,
        "wires": [
            [
                "c0ac5ef1.2b84d8"
            ]
        ]
    },
    {
        "id": "e94bbb5f.ba8ed8",
        "type": "http request",
        "z": "6461f072.dc1338",
        "name": "Get light 4",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/4",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 490,
        "y": 1180,
        "wires": [
            [
                "2f8435fa.eef8ca"
            ]
        ]
    },
    {
        "id": "b7c17c84.1158c8",
        "type": "inject",
        "z": "6461f072.dc1338",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 1180,
        "wires": [
            [
                "e94bbb5f.ba8ed8"
            ]
        ]
    },
    {
        "id": "964749dd.171d9",
        "type": "http request",
        "z": "6461f072.dc1338",
        "name": "Put Light 4",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/5/state",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 490,
        "y": 1220,
        "wires": [
            [
                "2f8435fa.eef8ca"
            ]
        ]
    },
    {
        "id": "9da8ae8e.b4d8e8",
        "type": "inject",
        "z": "6461f072.dc1338",
        "name": "",
        "topic": "LIght OFF",
        "payload": "{\"on\":true,\"bri\":180,\"hue\":43680,\"sat\":255,\"transitiontime\":10}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 1220,
        "wires": [
            [
                "964749dd.171d9"
            ]
        ]
    },
    {
        "id": "9e7b950e.55e588",
        "type": "http request",
        "z": "6461f072.dc1338",
        "name": "Get Groups",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/groups",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 1280,
        "wires": [
            [
                "2f8435fa.eef8ca"
            ]
        ]
    },
    {
        "id": "d228d3e0.0a0f6",
        "type": "inject",
        "z": "6461f072.dc1338",
        "name": "",
        "topic": "Groups",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 1280,
        "wires": [
            [
                "9e7b950e.55e588"
            ]
        ]
    },
    {
        "id": "82a5df6.1f3702",
        "type": "http request",
        "z": "6461f072.dc1338",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/groups/2/action",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 1340,
        "wires": [
            [
                "2f8435fa.eef8ca"
            ]
        ]
    },
    {
        "id": "3c5dc06f.7518d8",
        "type": "inject",
        "z": "6461f072.dc1338",
        "name": "Groups - ON",
        "topic": "",
        "payload": "{\"on\":true,\"bri\":255,\"transitiontime\":10}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 290,
        "y": 1340,
        "wires": [
            [
                "82a5df6.1f3702"
            ]
        ]
    },
    {
        "id": "57ee2aca.ba501c",
        "type": "inject",
        "z": "6461f072.dc1338",
        "name": "Groups - OFF",
        "topic": "",
        "payload": "{\"on\":false,\"bri\":255,\"transitiontime\":10}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 290,
        "y": 1380,
        "wires": [
            [
                "82a5df6.1f3702"
            ]
        ]
    },
    {
        "id": "ca900a61.48d0a8",
        "type": "http request",
        "z": "6461f072.dc1338",
        "name": "Get sensors",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/sensors",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 490,
        "y": 1040,
        "wires": [
            [
                "e073b436.609c9"
            ]
        ]
    },
    {
        "id": "5169b335.91fafc",
        "type": "inject",
        "z": "6461f072.dc1338",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 1040,
        "wires": [
            [
                "ca900a61.48d0a8"
            ]
        ]
    },
    {
        "id": "b968181c.cd69e8",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 840,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e073b436.609c9",
        "type": "json",
        "z": "6461f072.dc1338",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 680,
        "y": 1040,
        "wires": [
            [
                "b968181c.cd69e8"
            ]
        ]
    },
    {
        "id": "2d44d288.9fd2c6",
        "type": "trigger",
        "z": "94f6bb63.1811a8",
        "op1": "$LED_ALL$ON",
        "op2": "$LED_ALL$OFF",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 470,
        "y": 520,
        "wires": [
            [
                "c6c7ed7c.e7a44",
                "907123d6.f9d6a"
            ]
        ]
    },
    {
        "id": "907123d6.f9d6a",
        "type": "debug",
        "z": "94f6bb63.1811a8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "c6c7ed7c.e7a44",
        "type": "mqtt out",
        "z": "94f6bb63.1811a8",
        "name": "",
        "topic": "/kitchen/bench-lights/command",
        "qos": "",
        "retain": "",
        "broker": "1587791.fcbfc07",
        "x": 1370,
        "y": 520,
        "wires": []
    },
    {
        "id": "2e525468.9a4ad4",
        "type": "http request",
        "z": "c79a5793.feeff8",
        "name": "Light above me State (1)",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/1/state",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 430,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b0234eb1.13f5e",
        "type": "http request",
        "z": "c79a5793.feeff8",
        "name": "Light foot of stairs",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/2/state",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 410,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "abc1cf6d.071d7",
        "type": "http request",
        "z": "c79a5793.feeff8",
        "name": "Light 3 State",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/3/state",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 390,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "374f430d.e8e2e4",
        "type": "inject",
        "z": "c79a5793.feeff8",
        "name": "OFF",
        "topic": "",
        "payload": "{\"on\":false,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "2e525468.9a4ad4",
                "b0234eb1.13f5e",
                "abc1cf6d.071d7",
                "c535ced9.dba458",
                "e37e6fc.c968b9"
            ]
        ]
    },
    {
        "id": "2d14336c.81b104",
        "type": "inject",
        "z": "c79a5793.feeff8",
        "name": "ON",
        "topic": "",
        "payload": "{\"on\":true,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "2e525468.9a4ad4",
                "b0234eb1.13f5e",
                "abc1cf6d.071d7",
                "c535ced9.dba458",
                "e37e6fc.c968b9"
            ]
        ]
    },
    {
        "id": "c535ced9.dba458",
        "type": "http request",
        "z": "c79a5793.feeff8",
        "name": "Light 7 State",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/7/state",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 390,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e37e6fc.c968b9",
        "type": "http request",
        "z": "c79a5793.feeff8",
        "name": "Light above Leila 8 State",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/8/state",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 430,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b675324a.e1065",
        "type": "mqtt in",
        "z": "c79a5793.feeff8",
        "name": "",
        "topic": "/device/aqara/lounge-button/tap",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "c38f868e.9f9d2"
            ]
        ]
    },
    {
        "id": "6754d317.42f2a4",
        "type": "mqtt in",
        "z": "c79a5793.feeff8",
        "name": "",
        "topic": "/device/aqara/lounge-button/doubletap",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 170,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a88ce21c.fac48",
        "type": "mqtt in",
        "z": "c79a5793.feeff8",
        "name": "",
        "topic": "/device/aqara/lounge-button/tripletap",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 170,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "8c8bd6a4.d68d6",
        "type": "mqtt in",
        "z": "c79a5793.feeff8",
        "name": "",
        "topic": "/device/aqara/lounge-button/quadtap",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 170,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "4f3dfa18.d2fd64",
        "type": "http request",
        "z": "c79a5793.feeff8",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/{{id}}/state",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 890,
        "y": 380,
        "wires": [
            [
                "d90bdc4c.ec0eb"
            ]
        ]
    },
    {
        "id": "d90bdc4c.ec0eb",
        "type": "debug",
        "z": "c79a5793.feeff8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1060,
        "y": 380,
        "wires": []
    },
    {
        "id": "b1b95ac.5bfeca8",
        "type": "function",
        "z": "c79a5793.feeff8",
        "name": "All (state)",
        "func": "var light1 = {\n    payload: {\n        \"on\":msg.state,\n        \"bri\":255,\n        \"hue\":43680,\n        \"sat\":255,\n        \"transitiontime\":10\n    },\n    id: 1\n};\nvar light2 = {\n    payload: {\n        \"on\":msg.state,\n        \"bri\":255,\n        \"hue\":43680,\n        \"sat\":255,\n        \"transitiontime\":10\n    },\n    id: 2\n};\nvar light3 = {\n    payload: {\n        \"on\":msg.state,\n        \"bri\":255,\n        \"hue\":43680,\n        \"sat\":255,\n        \"transitiontime\":10\n    },\n    id: 3\n};\nvar light4 = {\n    payload: {\n        \"on\":msg.state,\n        \"bri\":255,\n        \"hue\":43680,\n        \"sat\":255,\n        \"transitiontime\":10\n    },\n    id: 7\n};\n// var light5 = {\n//     payload: {\n//         \"on\":msg.state,\n//         \"bri\":255,\n//         \"hue\":43680,\n//         \"sat\":255,\n//         \"transitiontime\":10\n//     },\n//     id: 8\n// };\nreturn [[light1, light2, light3, light4]];\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 380,
        "wires": [
            [
                "4f3dfa18.d2fd64"
            ]
        ]
    },
    {
        "id": "c38f868e.9f9d2",
        "type": "function",
        "z": "c79a5793.feeff8",
        "name": "Change Scene",
        "func": "var lounge_lights_scene = \"lounge_lights_scene\";\nvar current_scene = flow.get(lounge_lights_scene);\nvar leila_light_msg = { payload: msg.payload, state: false };\n\nswitch (current_scene) {\n    case \"on\":\n        flow.set(lounge_lights_scene, \"leila_only\");\n        msg.state = false;\n        leila_light_msg.state = false;\n        break;\n    case \"leila_only\":\n        flow.set(lounge_lights_scene, \"off\");\n        leila_light_msg.state = true;\n        msg.state = false;\n        break;\n    case \"off\":\n        flow.set(lounge_lights_scene, \"on\");\n        leila_light_msg.state = true;\n        msg.state = true;\n        break;\n    default:\n        flow.set(lounge_lights_scene, \"on\");\n        leila_light_msg.state = true;\n        msg.state = true;\n        break;\n}\nreturn [msg, leila_light_msg];",
        "outputs": 2,
        "noerr": 0,
        "x": 440,
        "y": 380,
        "wires": [
            [
                "b1b95ac.5bfeca8"
            ],
            [
                "1b757707.b515b1"
            ]
        ]
    },
    {
        "id": "a0bf8a4e.435af",
        "type": "mqtt in",
        "z": "c79a5793.feeff8",
        "name": "",
        "topic": "/device/atari-stick/BUTTON_UP/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 170,
        "y": 640,
        "wires": [
            [
                "8c312337.6fc3f8"
            ]
        ]
    },
    {
        "id": "edf0e7eb.ab27a8",
        "type": "mqtt in",
        "z": "c79a5793.feeff8",
        "name": "",
        "topic": "/device/atari-stick/BUTTON_FIRE/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "f16b239f.be11f8"
            ]
        ]
    },
    {
        "id": "72ec3b1b.7bdea4",
        "type": "debug",
        "z": "c79a5793.feeff8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1390,
        "y": 660,
        "wires": []
    },
    {
        "id": "d0f39515.5fd24",
        "type": "function",
        "z": "c79a5793.feeff8",
        "name": "LED Command",
        "func": "\nmsg.payload = \"$LED\" + msg.payload + \"$RELAY\" + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 660,
        "wires": [
            [
                "72ec3b1b.7bdea4"
            ]
        ]
    },
    {
        "id": "f16b239f.be11f8",
        "type": "function",
        "z": "c79a5793.feeff8",
        "name": "Turn OFF",
        "func": "var event = msg.payload.event;\nif (event === undefined || event == \"doubletap\") {\n    msg.payload = \"$OFF\";\n    return msg;\n}\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 660,
        "wires": [
            [
                "246f1a63.6892a6",
                "198bd8bd.5258b7"
            ]
        ]
    },
    {
        "id": "246f1a63.6892a6",
        "type": "trigger",
        "z": "c79a5793.feeff8",
        "op1": "$ON",
        "op2": "$OFF",
        "op1type": "str",
        "op2type": "str",
        "duration": "20",
        "extend": true,
        "units": "min",
        "reset": "$OFF",
        "bytopic": "all",
        "name": "",
        "x": 850,
        "y": 600,
        "wires": [
            [
                "d0f39515.5fd24"
            ]
        ]
    },
    {
        "id": "8c312337.6fc3f8",
        "type": "function",
        "z": "c79a5793.feeff8",
        "name": "Turn ON",
        "func": "var event = msg.payload.event;\nif (event === undefined || event == \"shake\" || event == \"slide\") {\n    return msg;\n}\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 600,
        "wires": [
            [
                "246f1a63.6892a6"
            ]
        ]
    },
    {
        "id": "4c231ae5.40c264",
        "type": "inject",
        "z": "c79a5793.feeff8",
        "name": "",
        "topic": "",
        "payload": "$LED$ON$RELAY$ON",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1140,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "198bd8bd.5258b7",
        "type": "trigger",
        "z": "c79a5793.feeff8",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "500",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "doubletap=OFF",
        "x": 860,
        "y": 660,
        "wires": [
            [
                "d0f39515.5fd24"
            ]
        ]
    },
    {
        "id": "5edf7daa.430774",
        "type": "inject",
        "z": "c79a5793.feeff8",
        "name": "Initialise",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 480,
        "y": 560,
        "wires": [
            [
                "246f1a63.6892a6"
            ]
        ]
    },
    {
        "id": "46b0f39f.64c50c",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "/device/atari-stick/BUTTON_UP/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "5e36bff5.4770e"
            ]
        ]
    },
    {
        "id": "36daac85.8fa87c",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "/device/atari-stick/BUTTON_FIRE/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 530,
        "y": 500,
        "wires": [
            [
                "b2757b48.ae2bc8"
            ]
        ]
    },
    {
        "id": "1b757707.b515b1",
        "type": "function",
        "z": "c79a5793.feeff8",
        "name": "Leila Light",
        "func": "msg.payload = {\n    \"on\":msg.state,\n    \"bri\":255,\n    \"hue\":43680,\n    \"sat\":255,\n    \"transitiontime\":10\n};\nmsg.id = 8;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 420,
        "wires": [
            [
                "4f3dfa18.d2fd64"
            ]
        ]
    },
    {
        "id": "5038398f.a79928",
        "type": "function",
        "z": "36b23c0d.bf2cec",
        "name": "Make light payload (on=msg.state)",
        "func": "msg.payload = {\n    \"on\":msg.state,\n    \"bri\":255,\n    \"hue\":43680,\n    \"sat\":255,\n    \"transitiontime\":10\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1190,
        "y": 340,
        "wires": [
            [
                "14884e89.ec9409",
                "55d1c0.2bd66e4"
            ]
        ]
    },
    {
        "id": "14884e89.ec9409",
        "type": "http request",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/{{id}}/state",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1440,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8fc90156.fc9c98",
        "type": "function",
        "z": "36b23c0d.bf2cec",
        "name": "Workshop lights payload(s)",
        "func": "return [[\n    {\n        id: 10,\n        state: msg.payload.state,\n        payload: msg.payload\n    },{\n        id: 15,\n        state: msg.payload.state,\n        payload: msg.payload\n    }\n]];\n",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 340,
        "wires": [
            [
                "5038398f.a79928"
            ]
        ]
    },
    {
        "id": "c116e06f.c48968",
        "type": "trigger",
        "z": "36b23c0d.bf2cec",
        "op1": "{\"state\":true}",
        "op2": "{\"state\":false}",
        "op1type": "json",
        "op2type": "json",
        "duration": "20",
        "extend": true,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 630,
        "y": 340,
        "wires": [
            [
                "8fc90156.fc9c98"
            ]
        ]
    },
    {
        "id": "1d56d26a.a1c29e",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "/device/atari-stick/BUTTON_DOWN/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 200,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "2d1dcea7.65c122",
        "type": "mqtt in",
        "z": "e37df6bc.11daa",
        "name": "",
        "topic": "octoprint/progress/printing",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "215ae337.28409c",
                "e9b84f8a.f608f"
            ]
        ]
    },
    {
        "id": "66f5468e.832968",
        "type": "debug",
        "z": "e37df6bc.11daa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.progress",
        "targetType": "msg",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "ce345f78.1cc7e8",
        "type": "mqtt in",
        "z": "e37df6bc.11daa",
        "name": "",
        "topic": "octoprint/event/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "49db6f2d.4f757",
                "fe932bc2.638e58"
            ]
        ]
    },
    {
        "id": "215ae337.28409c",
        "type": "json",
        "z": "e37df6bc.11daa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "d95a1c63.a5251"
            ]
        ]
    },
    {
        "id": "d95a1c63.a5251",
        "type": "function",
        "z": "e37df6bc.11daa",
        "name": "",
        "func": "var progress = msg.payload.progress;\nnode.status({\n    fill: progress < 100 ? \"orange\" : \"green\" ,\n    shape:\"ring\",\n    text:\"Progress: \" + msg.payload.progress + \"%\"\n});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 260,
        "wires": [
            [
                "66f5468e.832968",
                "f4191113.335068"
            ]
        ]
    },
    {
        "id": "2c54d811.8eaed",
        "type": "debug",
        "z": "e37df6bc.11daa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload._event",
        "targetType": "msg",
        "x": 920,
        "y": 340,
        "wires": []
    },
    {
        "id": "49db6f2d.4f757",
        "type": "json",
        "z": "e37df6bc.11daa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "1db819e5.e59666",
                "e493c557.c6f49"
            ]
        ]
    },
    {
        "id": "1db819e5.e59666",
        "type": "function",
        "z": "e37df6bc.11daa",
        "name": "PrintDone",
        "func": "\nif (msg.payload._event != \"PrintDone\") {\n    return null;\n}\n\nmsg.payload = msg.payload._event;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f4191113.335068",
        "type": "function",
        "z": "e37df6bc.11daa",
        "name": "Finished",
        "func": "if (msg.payload.progress % 100 === 0) {\n    msg.payload = \"Progress: \" + msg.payload.progress + \"%\";\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "72b12967.79613",
        "type": "mqtt in",
        "z": "fae66450.b1de",
        "name": "",
        "topic": "/liamshouse/ceiling_lights/online",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "686f98b8.2eb67"
            ]
        ]
    },
    {
        "id": "686f98b8.2eb67",
        "type": "trigger",
        "z": "fae66450.b1de",
        "op1": "1",
        "op2": "0",
        "op1type": "val",
        "op2type": "val",
        "duration": "250",
        "extend": "false",
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 430,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "5bb8ecd1.84ed5c",
        "type": "mqtt out",
        "z": "fae66450.b1de",
        "name": "",
        "topic": "/liamshouse/ceiling_lights/command",
        "qos": "",
        "retain": "",
        "broker": "1587791.fcbfc07",
        "x": 1110,
        "y": 200,
        "wires": []
    },
    {
        "id": "b918692f.1bfa58",
        "type": "inject",
        "z": "fae66450.b1de",
        "name": "Fade In",
        "topic": "",
        "payload": "{\"command\":\"LED\",\"value\":\"FADE_WHITE_IN\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 690,
        "y": 40,
        "wires": [
            [
                "9fa93bde.3fd54"
            ]
        ]
    },
    {
        "id": "75daf1c5.ace4c8",
        "type": "inject",
        "z": "fae66450.b1de",
        "name": "Fade Out",
        "topic": "",
        "payload": "{\"command\":\"LED\",\"value\":\"FADE_WHITE_OUT\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 820,
        "y": 240,
        "wires": [
            [
                "5bb8ecd1.84ed5c",
                "e7bd88f.6b10e78"
            ]
        ]
    },
    {
        "id": "9fa93bde.3fd54",
        "type": "trigger",
        "z": "fae66450.b1de",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "30",
        "extend": true,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 840,
        "y": 160,
        "wires": [
            [
                "5bb8ecd1.84ed5c",
                "e7bd88f.6b10e78"
            ]
        ]
    },
    {
        "id": "ba810a1b.d6bcc",
        "type": "mqtt in",
        "z": "fae66450.b1de",
        "name": "",
        "topic": "/device/aqara/liams-house-button/tap",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "7b7061dd.3b863"
            ]
        ]
    },
    {
        "id": "93ce41.042019c",
        "type": "mqtt in",
        "z": "fae66450.b1de",
        "name": "",
        "topic": "/device/aqara/liams-house-button/doubletap",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "14e76736.81dea9"
            ]
        ]
    },
    {
        "id": "14e76736.81dea9",
        "type": "function",
        "z": "fae66450.b1de",
        "name": "OFF",
        "func": "msg.payload = {\n    \"command\": \"LED\",\n    \"value\": \"OFF\"\n};\nmsg.reset = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 220,
        "wires": [
            [
                "9fa93bde.3fd54",
                "5bb8ecd1.84ed5c"
            ]
        ]
    },
    {
        "id": "e7bd88f.6b10e78",
        "type": "debug",
        "z": "fae66450.b1de",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1100,
        "y": 60,
        "wires": []
    },
    {
        "id": "7b7061dd.3b863",
        "type": "function",
        "z": "fae66450.b1de",
        "name": "WHITE_ON",
        "func": "msg.payload = {\n    \"command\": \"LED\",\n    \"value\": \"WHITE_ON\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "9fa93bde.3fd54"
            ]
        ]
    },
    {
        "id": "69cc2662.ced0d8",
        "type": "mqtt in",
        "z": "fae66450.b1de",
        "name": "",
        "topic": "/liamshouse/ceiling_lights/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "55a51f99.7c01d8"
            ]
        ]
    },
    {
        "id": "55a51f99.7c01d8",
        "type": "debug",
        "z": "fae66450.b1de",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 500,
        "y": 300,
        "wires": []
    },
    {
        "id": "acb9551d.426c88",
        "type": "function",
        "z": "fae66450.b1de",
        "name": "RAINBOW",
        "func": "msg.payload = {\n    \"command\": \"LED\",\n    \"value\": \"RAINBOW\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 120,
        "wires": [
            [
                "9fa93bde.3fd54"
            ]
        ]
    },
    {
        "id": "13afc5d7.280372",
        "type": "mqtt in",
        "z": "fae66450.b1de",
        "name": "",
        "topic": "/device/aqara/liams-house-button/held",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "acb9551d.426c88"
            ]
        ]
    },
    {
        "id": "377379a9.13d336",
        "type": "inject",
        "z": "fae66450.b1de",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 380,
        "y": 100,
        "wires": [
            [
                "acb9551d.426c88"
            ]
        ]
    },
    {
        "id": "baab9cde.07c038",
        "type": "function",
        "z": "6461f072.dc1338",
        "name": "Add event property",
        "func": "\nif (msg.payload.state === undefined || \n    msg.payload.state.buttonevent === undefined) {\n    return null;\n}\n\nvar event = msg.payload.state.buttonevent;\n// number corresponds to the side\nvar side = Math.round(event/1000); \nvar modifier = event - (side * 1000);\n\nif (event % 1000 === 0) {\n    msg.payload.event = \"slide\";\n}\nelse if (event === 7007) {\n    msg.payload.event = \"shake\";\n}\nelse if (event === (side*1000) + side) {\n    msg.payload.event = \"doubletap\";\n}\nelse if (side + modifier === 7) {\n    msg.payload.event = \"180flip\";\n}\nelse if (side != 7 - modifier) {\n    msg.payload.event = \"flip\";\n}\nelse if (event === 7008) {\n    msg.payload.event = \"drop\";\n}\nelse {\n    msg.payload.event = \"unknown (\" + event + \")\";\n}\nmsg.payload.side = side;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 280,
        "wires": [
            [
                "b1c30798.3ce498"
            ]
        ]
    },
    {
        "id": "b2f59c8f.9d4bd",
        "type": "function",
        "z": "36b23c0d.bf2cec",
        "name": "slide",
        "func": "if (msg.payload.event !== \"slide\") {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 400,
        "wires": [
            [
                "c116e06f.c48968"
            ]
        ]
    },
    {
        "id": "a5ae435f.e660d8",
        "type": "json",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "b2f59c8f.9d4bd",
                "8ab23192.26de68",
                "2201732c.044f2c"
            ]
        ]
    },
    {
        "id": "3bef466a.c0c85a",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT04/event",
        "topic": "/device/smartsocket/SMTSKT04/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 110,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "1d5698df.5f6867",
        "type": "inject",
        "z": "c79a5793.feeff8",
        "name": "ON",
        "topic": "",
        "payload": "{\"on\":true,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b6355983.743ca",
        "type": "inject",
        "z": "c79a5793.feeff8",
        "name": "ON",
        "topic": "",
        "payload": "{\"on\":true,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 123,
        "y": 245,
        "wires": [
            [
                "e37e6fc.c968b9",
                "c535ced9.dba458"
            ]
        ]
    },
    {
        "id": "550e2b.cc87b9d4",
        "type": "function",
        "z": "c79a5793.feeff8",
        "name": "shake",
        "func": "if (msg.payload.event !== \"shake\") {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 40,
        "wires": [
            [
                "4c8cb3cf.05ec14",
                "b92fdb0c.d92268"
            ]
        ]
    },
    {
        "id": "4c8cb3cf.05ec14",
        "type": "delay",
        "z": "c79a5793.feeff8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1020,
        "y": 120,
        "wires": [
            [
                "c20410e1.ee09c"
            ]
        ]
    },
    {
        "id": "b6229d75.886a68",
        "type": "http request",
        "z": "c79a5793.feeff8",
        "name": "Light above me State (1)",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/1/state",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 1410,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "f41762e6.c72a1",
        "type": "http request",
        "z": "c79a5793.feeff8",
        "name": "Light 2 State",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/2/state",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 1370,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7a8182eb.5c5294",
        "type": "http request",
        "z": "c79a5793.feeff8",
        "name": "Light 3 State",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/3/state",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 1370,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "126d275.1c21b59",
        "type": "http request",
        "z": "c79a5793.feeff8",
        "name": "Light 7 State",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/7/state",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 1370,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "124d0b3b.ede935",
        "type": "http request",
        "z": "c79a5793.feeff8",
        "name": "Light above Leila 8 State",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.1.105:80/api/7665109987/lights/8/state",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 1410,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c20410e1.ee09c",
        "type": "function",
        "z": "c79a5793.feeff8",
        "name": "ON",
        "func": "msg.payload = \"{\\\"on\\\":true,\\\"bri\\\":255,\\\"hue\\\":43680,\\\"sat\\\":255,\\\"transitiontime\\\":3}\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 240,
        "wires": [
            [
                "124d0b3b.ede935",
                "126d275.1c21b59"
            ]
        ]
    },
    {
        "id": "b92fdb0c.d92268",
        "type": "function",
        "z": "c79a5793.feeff8",
        "name": "OFF",
        "func": "msg.payload = \"{\\\"on\\\":false,\\\"bri\\\":255,\\\"hue\\\":43680,\\\"sat\\\":255,\\\"transitiontime\\\":3}\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 40,
        "wires": [
            [
                "b6229d75.886a68",
                "f41762e6.c72a1",
                "7a8182eb.5c5294",
                "126d275.1c21b59",
                "124d0b3b.ede935"
            ]
        ]
    },
    {
        "id": "d664522.1b39fb",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "pc/heartbeat",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 90,
        "y": 1380,
        "wires": [
            [
                "19179eda.262f91",
                "1c103518.86411b",
                "dd3c58d6.c5174"
            ]
        ]
    },
    {
        "id": "19179eda.262f91",
        "type": "trigger",
        "z": "36b23c0d.bf2cec",
        "op1": "ON",
        "op2": "OFF",
        "op1type": "str",
        "op2type": "str",
        "duration": "35",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "heartbeat timeout",
        "x": 470,
        "y": 1380,
        "wires": [
            [
                "5da9895a.9b1f48",
                "3e6b9827.f7d42"
            ]
        ]
    },
    {
        "id": "4d3cbd49.267194",
        "type": "mqtt out",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "pc/status/on",
        "qos": "",
        "retain": "",
        "broker": "1587791.fcbfc07",
        "x": 990,
        "y": 1360,
        "wires": []
    },
    {
        "id": "5da9895a.9b1f48",
        "type": "switch",
        "z": "36b23c0d.bf2cec",
        "name": "ON/OFF",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 1380,
        "wires": [
            [
                "4d3cbd49.267194"
            ],
            [
                "335629c4.f4b0b6",
                "3da776e5.3a774a"
            ]
        ]
    },
    {
        "id": "335629c4.f4b0b6",
        "type": "mqtt out",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "pc/status/off",
        "qos": "",
        "retain": "",
        "broker": "1587791.fcbfc07",
        "x": 990,
        "y": 1420,
        "wires": []
    },
    {
        "id": "d6e29c2e.bcdb98",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT05/event",
        "topic": "/device/smartsocket/SMTSKT05/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "8cba2d5b.2788e8"
            ]
        ]
    },
    {
        "id": "3ef8166e.5390a2",
        "type": "comment",
        "z": "36b23c0d.bf2cec",
        "name": "PC power",
        "info": "",
        "x": 80,
        "y": 1180,
        "wires": []
    },
    {
        "id": "173193cc.bb3a9c",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "pc/status/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 1140,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "39c45949.61c006",
        "type": "inject",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 550,
        "y": 1480,
        "wires": [
            [
                "5da9895a.9b1f48"
            ]
        ]
    },
    {
        "id": "8589e6a7.65cd28",
        "type": "inject",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 550,
        "y": 1520,
        "wires": [
            [
                "5da9895a.9b1f48"
            ]
        ]
    },
    {
        "id": "8ab23192.26de68",
        "type": "function",
        "z": "36b23c0d.bf2cec",
        "name": "doubletap",
        "func": "if (msg.payload.event !== \"doubletap\") {\n    return null;\n}\nmsg.payload.state = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "46a05083.d01358"
            ]
        ]
    },
    {
        "id": "46a05083.d01358",
        "type": "function",
        "z": "36b23c0d.bf2cec",
        "name": "state = false",
        "func": "msg.payload.state = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 420,
        "wires": [
            [
                "8fc90156.fc9c98"
            ]
        ]
    },
    {
        "id": "80cdb5d5.d181d",
        "type": "debug",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 780,
        "wires": []
    },
    {
        "id": "1c103518.86411b",
        "type": "link out",
        "z": "36b23c0d.bf2cec",
        "name": "PC Heartbeat",
        "links": [
            "61898600.7ed75c"
        ],
        "x": 335,
        "y": 1320,
        "wires": []
    },
    {
        "id": "61898600.7ed75c",
        "type": "link in",
        "z": "36b23c0d.bf2cec",
        "name": "PC heartbeat",
        "links": [
            "1c103518.86411b"
        ],
        "x": 430,
        "y": 320,
        "wires": [
            [
                "c116e06f.c48968"
            ]
        ],
        "l": true
    },
    {
        "id": "ff4e6f42.32b44",
        "type": "inject",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 1320,
        "wires": [
            [
                "1c103518.86411b"
            ]
        ]
    },
    {
        "id": "bfeb767d.53f45",
        "type": "mqtt out",
        "z": "e8ebc87d.0e1fe8",
        "name": "/nodered/time10s",
        "topic": "/nodered/time10s",
        "qos": "",
        "retain": "",
        "broker": "1587791.fcbfc07",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "19298ddf.0c5f5a",
        "type": "inject",
        "z": "e8ebc87d.0e1fe8",
        "name": "10 Second",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "bfeb767d.53f45"
            ]
        ]
    },
    {
        "id": "2225882d.64a47",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "atari-stick/online",
        "topic": "/device/atari-stick/online",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 1660,
        "y": 580,
        "wires": [
            [
                "a5b1d0b9.8b0b58"
            ]
        ]
    },
    {
        "id": "d96b2dd6.d831f8",
        "type": "inject",
        "z": "c79a5793.feeff8",
        "name": "OFF",
        "topic": "",
        "payload": "{\"on\":false,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "c535ced9.dba458",
                "e37e6fc.c968b9"
            ]
        ]
    },
    {
        "id": "37b4df13.51b988",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "/device/atom-lite-1/button",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "197ebf2d.e6bc09"
            ]
        ]
    },
    {
        "id": "197ebf2d.e6bc09",
        "type": "switch",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "doubleclick",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tripleclick",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "longclick",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 450,
        "y": 780,
        "wires": [
            [
                "80cdb5d5.d181d",
                "bebf6a04.e4fb98",
                "a3a396cf.730cd8"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "fc5567c5.90e5c",
        "type": "inject",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "",
        "payload": "{\"state\":true}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 690,
        "y": 241,
        "wires": [
            [
                "8fc90156.fc9c98"
            ]
        ]
    },
    {
        "id": "170c0ac3.2f7865",
        "type": "function",
        "z": "6461f072.dc1338",
        "name": "Cave Lights",
        "func": "\nswitch (msg.payload.id)\n{\n    case \"10\":\n    case\"11\":\n    case \"12\":\n        return msg;\n    default:\n        return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 880,
        "wires": [
            [
                "d5a4d47f.f11b9"
            ]
        ]
    },
    {
        "id": "d5a4d47f.f11b9",
        "type": "link out",
        "z": "6461f072.dc1338",
        "name": "Cave LIghts",
        "links": [
            "71c66eac.2ef66"
        ],
        "x": 255,
        "y": 880,
        "wires": []
    },
    {
        "id": "55d1c0.2bd66e4",
        "type": "debug",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1410,
        "y": 260,
        "wires": []
    },
    {
        "id": "b649b76f.50a648",
        "type": "inject",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "",
        "payload": "{\"state\":false}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 690,
        "y": 280,
        "wires": [
            [
                "8fc90156.fc9c98"
            ]
        ]
    },
    {
        "id": "98c74e64.f4d898",
        "type": "link out",
        "z": "6461f072.dc1338",
        "name": "3D Printer",
        "links": [
            "ed524b9e.a63bd8",
            "8a5c4eda.d0d648"
        ],
        "x": 1255,
        "y": 700,
        "wires": [],
        "icon": "font-awesome/fa-thermometer-0"
    },
    {
        "id": "f7b9e9b7.560f4",
        "type": "link out",
        "z": "6461f072.dc1338",
        "name": "Heatpump",
        "links": [
            "1259d8cc.10e887"
        ],
        "x": 1255,
        "y": 580,
        "wires": [],
        "icon": "font-awesome/fa-thermometer-0"
    },
    {
        "id": "5750d34f.3db97c",
        "type": "mqtt out",
        "z": "fae66450.b1de",
        "name": "",
        "topic": "/general/test-jar-light/command",
        "qos": "",
        "retain": "",
        "broker": "1587791.fcbfc07",
        "x": 430,
        "y": 480,
        "wires": []
    },
    {
        "id": "10405bcb.23266c",
        "type": "inject",
        "z": "fae66450.b1de",
        "name": "",
        "topic": "",
        "payload": "$LED_SOMETHING$SOMETHING",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 203,
        "y": 475,
        "wires": [
            [
                "5750d34f.3db97c"
            ]
        ]
    },
    {
        "id": "1e2b0016.71be8",
        "type": "mqtt out",
        "z": "fae66450.b1de",
        "name": "",
        "topic": "/general/jar-light/command",
        "qos": "",
        "retain": "",
        "broker": "1587791.fcbfc07",
        "x": 600,
        "y": 560,
        "wires": []
    },
    {
        "id": "d5c3447b.d36738",
        "type": "inject",
        "z": "fae66450.b1de",
        "name": "",
        "topic": "",
        "payload": "COUNTDOWN$60",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 640,
        "wires": [
            [
                "1e2b0016.71be8"
            ]
        ]
    },
    {
        "id": "c13a271c.2db42",
        "type": "debug",
        "z": "fae66450.b1de",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 560,
        "y": 680,
        "wires": []
    },
    {
        "id": "2f3292ba.0cf17e",
        "type": "mqtt in",
        "z": "fae66450.b1de",
        "name": "",
        "topic": "/general/jar-light/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 220,
        "y": 680,
        "wires": [
            [
                "c13a271c.2db42"
            ]
        ]
    },
    {
        "id": "3fd461e.a4e539e",
        "type": "inject",
        "z": "fae66450.b1de",
        "name": "",
        "topic": "",
        "payload": "BRIGHTNESS$50",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 600,
        "wires": [
            [
                "1e2b0016.71be8"
            ]
        ]
    },
    {
        "id": "711f6bcd.babc8c",
        "type": "inject",
        "z": "fae66450.b1de",
        "name": "",
        "topic": "",
        "payload": "OFF$50",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 520,
        "wires": [
            [
                "1e2b0016.71be8"
            ]
        ]
    },
    {
        "id": "7c57b3ef.fd3c94",
        "type": "inject",
        "z": "fae66450.b1de",
        "name": "",
        "topic": "",
        "payload": "PERIOD$1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 560,
        "wires": [
            [
                "1e2b0016.71be8"
            ]
        ]
    },
    {
        "id": "8c456d32.365548",
        "type": "mqtt in",
        "z": "14740fd0.f16d88",
        "name": "",
        "topic": "octoprint/temperature/tool0",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "e92ffa65.dd6e28"
            ]
        ]
    },
    {
        "id": "e92ffa65.dd6e28",
        "type": "debug",
        "z": "14740fd0.f16d88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "77bd0659.a1d228",
        "type": "comment",
        "z": "14740fd0.f16d88",
        "name": "Url",
        "info": "https://github.com/OctoPrint/OctoPrint-MQTT/blob/master/README.md",
        "x": 270,
        "y": 220,
        "wires": []
    },
    {
        "id": "e9b84f8a.f608f",
        "type": "debug",
        "z": "e37df6bc.11daa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "16626cc0.9f56c3",
        "type": "mqtt in",
        "z": "e37df6bc.11daa",
        "name": "",
        "topic": "octoprint/temperature/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "e9b84f8a.f608f"
            ]
        ]
    },
    {
        "id": "e493c557.c6f49",
        "type": "switch",
        "z": "e37df6bc.11daa",
        "name": "",
        "property": "payload._event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "PrintDone",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 340,
        "wires": [
            [
                "2c54d811.8eaed"
            ],
            [
                "2c54d811.8eaed"
            ]
        ]
    },
    {
        "id": "7023f324.02fdac",
        "type": "inject",
        "z": "94f6bb63.1811a8",
        "name": "",
        "topic": "",
        "payload": "$LED_ALL$OFF",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 980,
        "y": 420,
        "wires": [
            [
                "c6c7ed7c.e7a44"
            ]
        ]
    },
    {
        "id": "34943dd9.f12e2a",
        "type": "inject",
        "z": "c79a5793.feeff8",
        "name": "OFF",
        "topic": "",
        "payload": "{\"on\":false,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 40,
        "wires": [
            [
                "2e525468.9a4ad4",
                "b0234eb1.13f5e"
            ]
        ]
    },
    {
        "id": "cbb774ea.a73a18",
        "type": "ui_template",
        "z": "81285515.4f20b",
        "group": "379f6052.23565",
        "name": "CSS",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<style>\n    h3 {\n        font-size: 36px;\n        margin: 5px auto;\n        text-decoration: underline;\n    }\n    \n    h1 {\n        font-size: 70px;\n        font-family: \"Segoe UI, Roboto\";\n        margin: 5px auto !important;\n    }\n    \n    p.widget-time {\n        color: darkgrey !important;\n        margin-top: -20px;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "global",
        "x": 930,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "14d53414.c485a4",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "7b:3c:ef",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.state.temperature",
        "targetType": "msg",
        "x": 1140,
        "y": 820,
        "wires": []
    },
    {
        "id": "3e6b9827.f7d42",
        "type": "link out",
        "z": "36b23c0d.bf2cec",
        "name": "PC Heartbeat Timeout",
        "links": [
            "1270d4b1.7361cb"
        ],
        "x": 595,
        "y": 1320,
        "wires": []
    },
    {
        "id": "c7167ed7.b82408",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.state.buttonevent",
        "targetType": "msg",
        "x": 1130,
        "y": 100,
        "wires": []
    },
    {
        "id": "28f36dab.d4fd32",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "Vibration (Chair)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "931f5a5e.c3c0f8",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT07/online",
        "topic": "/device/smartsocket/SMTSKT07/online",
        "qos": "2",
        "datatype": "auto",
        "broker": "60f1f31.234c40c",
        "x": 1670,
        "y": 340,
        "wires": [
            [
                "be5a5a3d.49dbe8"
            ]
        ]
    },
    {
        "id": "10c14a9a.1e789d",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT08/online",
        "topic": "/device/smartsocket/SMTSKT08/online",
        "qos": "2",
        "datatype": "auto",
        "broker": "60f1f31.234c40c",
        "x": 1670,
        "y": 400,
        "wires": [
            [
                "fb8bee3b.2d492"
            ]
        ]
    },
    {
        "id": "8b5ca0dc.cfc3a8",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT10/online",
        "topic": "/device/smartsocket/SMTSKT10/online",
        "qos": "2",
        "datatype": "auto",
        "broker": "60f1f31.234c40c",
        "x": 1670,
        "y": 460,
        "wires": [
            [
                "286a96e6.9c86da"
            ]
        ]
    },
    {
        "id": "bf9d5350.167868",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT10/event",
        "topic": "/device/smartsocket/SMTSKT10/event",
        "qos": "2",
        "datatype": "auto",
        "broker": "60f1f31.234c40c",
        "x": 110,
        "y": 1120,
        "wires": [
            [
                "61caebf3.826554"
            ]
        ]
    },
    {
        "id": "61caebf3.826554",
        "type": "debug",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 1120,
        "wires": []
    },
    {
        "id": "4b0a6563.c90cfc",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT01/online",
        "topic": "/device/smartsocket/SMTSKT01/online",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 1670,
        "y": 40,
        "wires": [
            [
                "afbfab6c.696a58"
            ]
        ]
    },
    {
        "id": "c2015de1.04962",
        "type": "trigger",
        "z": "518da3.87cfd25c",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "num",
        "duration": "0.5",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "ONLINE",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "cb1c6709.8c5638"
            ]
        ]
    },
    {
        "id": "cabf5014.314ed8",
        "type": "debug",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 1080,
        "wires": []
    },
    {
        "id": "b2757b48.ae2bc8",
        "type": "function",
        "z": "36b23c0d.bf2cec",
        "name": "EV_DOUBLECLICK (TOGGLE) for all lights",
        "func": "var msg1 = { topic: \"/device/smartsocket/SMTSKT02/event\", payload:\"EV_DOUBLE_CLICK\" };\nvar msg2 = { topic: \"/device/smartsocket/SMTSKT04/event\", payload:\"EV_DOUBLE_CLICK\" };\nvar msg3 = { topic: \"/device/smartsocket/SMTSKT03/event\", payload:\"EV_DOUBLE_CLICK\" };\nvar msg4 = { topic: \"/device/smartsocket/SMTSKT08/event\", payload:\"EV_DOUBLE_CLICK\" };\nreturn [ [ msg1, msg2, msg3, msg4] ];\n",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 520,
        "wires": [
            [
                "22e55ab.62f15a6",
                "c8e20315.497cd8"
            ]
        ]
    },
    {
        "id": "c1acb9a1.3d50c",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "b1c30798.3ce498",
        "type": "link out",
        "z": "6461f072.dc1338",
        "name": "Cube2",
        "links": [
            "abd94fd8.52c4b"
        ],
        "x": 1130,
        "y": 280,
        "wires": [],
        "l": true
    },
    {
        "id": "abd94fd8.52c4b",
        "type": "link in",
        "z": "36b23c0d.bf2cec",
        "name": "Cube2",
        "links": [
            "b1c30798.3ce498"
        ],
        "x": 170,
        "y": 400,
        "wires": [
            [
                "a5ae435f.e660d8"
            ]
        ],
        "l": true
    },
    {
        "id": "b1ea6c6d.c5d978",
        "type": "link out",
        "z": "6461f072.dc1338",
        "name": "/device/motion/door/event",
        "links": [
            "8d6fbc35.d13758",
            "b62a31be.5733d8"
        ],
        "x": 1210,
        "y": 320,
        "wires": [],
        "l": true
    },
    {
        "id": "8d6fbc35.d13758",
        "type": "link in",
        "z": "36b23c0d.bf2cec",
        "name": "/device/motion/door/event",
        "links": [
            "b1ea6c6d.c5d978"
        ],
        "x": 230,
        "y": 340,
        "wires": [
            [
                "c116e06f.c48968"
            ]
        ],
        "l": true
    },
    {
        "id": "efbe6026.a81ee8",
        "type": "link out",
        "z": "6461f072.dc1338",
        "name": "/device/cube1/event",
        "links": [
            "70c77517.be51b4",
            "c4b671f5.afa2e"
        ],
        "x": 1180,
        "y": 240,
        "wires": [],
        "l": true
    },
    {
        "id": "70c77517.be51b4",
        "type": "link in",
        "z": "c79a5793.feeff8",
        "name": "/device/cube1/event",
        "links": [
            "efbe6026.a81ee8"
        ],
        "x": 710,
        "y": 40,
        "wires": [
            [
                "550e2b.cc87b9d4"
            ]
        ],
        "l": true
    },
    {
        "id": "5f4345b5.2b507c",
        "type": "trigger",
        "z": "608fb6b.30be348",
        "op1": "$RELAY$ON",
        "op2": "$RELAY$OFF",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": true,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "10 minutes",
        "x": 470,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "4c9134.17fb7ecc",
        "type": "switch",
        "z": "608fb6b.30be348",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "EV_CLICKED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "EV_LONG_PRESS",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "EV_DOUBLE_CLICK",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "EV_OFF",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "EV_ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ST_RELAY_ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ST_RELAY_OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 270,
        "y": 100,
        "wires": [
            [],
            [
                "5f4345b5.2b507c"
            ],
            [
                "e5fb31a9.85be98"
            ],
            [
                "6258cd66.b9d874"
            ],
            [
                "c5fa4612.854b1"
            ],
            [
                "8905c984.c64e5"
            ],
            [
                "418ad549.690694"
            ]
        ]
    },
    {
        "id": "66957ac.aca3004",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT05/online",
        "topic": "/device/smartsocket/SMTSKT05/online",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 1670,
        "y": 280,
        "wires": [
            [
                "c80cd7f9.2c0fa"
            ]
        ]
    },
    {
        "id": "c7276b0.129e698",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT02/online",
        "topic": "/device/smartsocket/SMTSKT02/online",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 1670,
        "y": 100,
        "wires": [
            [
                "5619d356.0b82ec"
            ]
        ]
    },
    {
        "id": "b56dbbe5.2635e8",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT03/online",
        "topic": "/device/smartsocket/SMTSKT03/online",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 1670,
        "y": 160,
        "wires": [
            [
                "c657d8b4.a43a38"
            ]
        ]
    },
    {
        "id": "ea3a8fc0.e601a8",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT04/online",
        "topic": "/device/smartsocket/SMTSKT04/online",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 1670,
        "y": 220,
        "wires": [
            [
                "371ecb9f.c115dc"
            ]
        ]
    },
    {
        "id": "5619d356.0b82ec",
        "type": "trigger",
        "z": "36b23c0d.bf2cec",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "8",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "ONLINE",
        "x": 1840,
        "y": 100,
        "wires": [
            [
                "32507a5.4ebf586"
            ]
        ]
    },
    {
        "id": "e5fb31a9.85be98",
        "type": "function",
        "z": "608fb6b.30be348",
        "name": "TOGGLE",
        "func": "msg.payload = \"$TOGGLE\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "26591cb9.dbefbc",
        "type": "bigstatus",
        "z": "518da3.87cfd25c",
        "name": "ONLINE",
        "locale": "",
        "show_date": false,
        "show_duration": false,
        "x": 520,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "cb1c6709.8c5638",
        "type": "function",
        "z": "518da3.87cfd25c",
        "name": "green dot",
        "func": "msg = { shape: \"dot\", fill: \"green\", text: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "26591cb9.dbefbc"
            ]
        ]
    },
    {
        "id": "afbfab6c.696a58",
        "type": "trigger",
        "z": "36b23c0d.bf2cec",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "8",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "ONLINE",
        "x": 1840,
        "y": 40,
        "wires": [
            [
                "32507a5.4ebf586"
            ]
        ]
    },
    {
        "id": "22e55ab.62f15a6",
        "type": "subflow:608fb6b.30be348",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "env": [],
        "x": 1280,
        "y": 520,
        "wires": [
            [
                "dabc5a12.b9031"
            ],
            []
        ]
    },
    {
        "id": "dabc5a12.b9031",
        "type": "mqtt out",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "1587791.fcbfc07",
        "x": 1470,
        "y": 520,
        "wires": []
    },
    {
        "id": "c8e20315.497cd8",
        "type": "debug",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1250,
        "y": 480,
        "wires": []
    },
    {
        "id": "5e36bff5.4770e",
        "type": "function",
        "z": "36b23c0d.bf2cec",
        "name": "Map to TOGGLE",
        "func": "msg.payload = \"EV_DOUBLE_CLICK\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 600,
        "wires": [
            [
                "5be3109c.397c48"
            ]
        ]
    },
    {
        "id": "5be3109c.397c48",
        "type": "subflow:608fb6b.30be348",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT02 commands",
        "env": [
            {
                "name": "SMTSKTNUM",
                "value": "02",
                "type": "str"
            }
        ],
        "x": 850,
        "y": 600,
        "wires": [
            [
                "8e120cb.5827ef"
            ],
            []
        ]
    },
    {
        "id": "8905c984.c64e5",
        "type": "function",
        "z": "608fb6b.30be348",
        "name": "Relay: ON",
        "func": "msg.payload = \"Relay: ON\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "418ad549.690694",
        "type": "function",
        "z": "608fb6b.30be348",
        "name": "Relay: OFF",
        "func": "msg.payload = \"Relay: OFF\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ad3fcb82.b25d8",
        "type": "function",
        "z": "36b23c0d.bf2cec",
        "name": "Map to TOGGLE",
        "func": "msg.payload = \"EV_DOUBLE_CLICK\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 640,
        "wires": [
            [
                "11fec2d0.5247cd"
            ]
        ]
    },
    {
        "id": "6258cd66.b9d874",
        "type": "function",
        "z": "608fb6b.30be348",
        "name": "OFF",
        "func": "msg.payload = \"$RELAY$OFF\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c5fa4612.854b1",
        "type": "function",
        "z": "608fb6b.30be348",
        "name": "ON",
        "func": "msg.payload = \"$RELAY$ON\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e5aec5a3.e231c",
        "type": "function",
        "z": "608fb6b.30be348",
        "name": "Topic",
        "func": "msg.topic = \"/device/smartsocket/SMTSKT\" + env.get(\"SMTSKTNUM\") + \"/command\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "4c9134.17fb7ecc"
            ]
        ]
    },
    {
        "id": "11fec2d0.5247cd",
        "type": "subflow:608fb6b.30be348",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT04 commands",
        "env": [
            {
                "name": "SMTSKTNUM",
                "value": "04",
                "type": "str"
            }
        ],
        "x": 850,
        "y": 640,
        "wires": [
            [
                "8e120cb.5827ef"
            ],
            []
        ]
    },
    {
        "id": "4ab252ae.3cf894",
        "type": "mqtt in",
        "z": "36b23c0d.bf2cec",
        "name": "atom-lite-1",
        "topic": "/device/atom-lite-1/online",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 1700,
        "y": 520,
        "wires": [
            [
                "40bf7e31.5e1188"
            ]
        ]
    },
    {
        "id": "bebf6a04.e4fb98",
        "type": "function",
        "z": "36b23c0d.bf2cec",
        "name": "Map to TOGGLE",
        "func": "msg.payload = \"EV_DOUBLE_CLICK\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 700,
        "wires": [
            [
                "66d9f2e1.05ee94"
            ]
        ]
    },
    {
        "id": "66d9f2e1.05ee94",
        "type": "subflow:608fb6b.30be348",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT03 commands",
        "env": [
            {
                "name": "SMTSKTNUM",
                "value": "03",
                "type": "str"
            }
        ],
        "x": 950,
        "y": 700,
        "wires": [
            [
                "a447c003.06d5e8"
            ],
            []
        ]
    },
    {
        "id": "a3a396cf.730cd8",
        "type": "function",
        "z": "36b23c0d.bf2cec",
        "name": "Map to TOGGLE",
        "func": "msg.payload = \"EV_DOUBLE_CLICK\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 740,
        "wires": [
            [
                "8e1325f9.df14c"
            ]
        ]
    },
    {
        "id": "8e1325f9.df14c",
        "type": "subflow:608fb6b.30be348",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT07 commands",
        "env": [
            {
                "name": "SMTSKTNUM",
                "value": "07",
                "type": "str"
            }
        ],
        "x": 950,
        "y": 740,
        "wires": [
            [
                "a447c003.06d5e8"
            ],
            []
        ]
    },
    {
        "id": "c657d8b4.a43a38",
        "type": "trigger",
        "z": "36b23c0d.bf2cec",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "8",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "ONLINE",
        "x": 1840,
        "y": 160,
        "wires": [
            [
                "32507a5.4ebf586"
            ]
        ]
    },
    {
        "id": "371ecb9f.c115dc",
        "type": "trigger",
        "z": "36b23c0d.bf2cec",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "8",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "ONLINE",
        "x": 1840,
        "y": 220,
        "wires": [
            [
                "32507a5.4ebf586"
            ]
        ]
    },
    {
        "id": "c80cd7f9.2c0fa",
        "type": "trigger",
        "z": "36b23c0d.bf2cec",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "8",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "ONLINE",
        "x": 1840,
        "y": 280,
        "wires": [
            [
                "32507a5.4ebf586"
            ]
        ]
    },
    {
        "id": "be5a5a3d.49dbe8",
        "type": "trigger",
        "z": "36b23c0d.bf2cec",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "8",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "ONLINE",
        "x": 1840,
        "y": 340,
        "wires": [
            [
                "32507a5.4ebf586"
            ]
        ]
    },
    {
        "id": "fb8bee3b.2d492",
        "type": "trigger",
        "z": "36b23c0d.bf2cec",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "8",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "ONLINE",
        "x": 1840,
        "y": 400,
        "wires": [
            [
                "32507a5.4ebf586"
            ]
        ]
    },
    {
        "id": "286a96e6.9c86da",
        "type": "trigger",
        "z": "36b23c0d.bf2cec",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "8",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "ONLINE",
        "x": 1840,
        "y": 460,
        "wires": [
            [
                "32507a5.4ebf586"
            ]
        ]
    },
    {
        "id": "40bf7e31.5e1188",
        "type": "trigger",
        "z": "36b23c0d.bf2cec",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "8",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "ONLINE",
        "x": 1840,
        "y": 520,
        "wires": [
            [
                "32507a5.4ebf586"
            ]
        ]
    },
    {
        "id": "8e120cb.5827ef",
        "type": "mqtt out",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "1587791.fcbfc07",
        "x": 1090,
        "y": 600,
        "wires": []
    },
    {
        "id": "a447c003.06d5e8",
        "type": "mqtt out",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "1587791.fcbfc07",
        "x": 1150,
        "y": 760,
        "wires": []
    },
    {
        "id": "9691d119.65a3b8",
        "type": "mqtt out",
        "z": "36b23c0d.bf2cec",
        "name": "Atari-Stick Command",
        "topic": "/device/atari-stick/command",
        "qos": "",
        "retain": "",
        "broker": "60f1f31.234c40c",
        "x": 1300,
        "y": 960,
        "wires": []
    },
    {
        "id": "29bf5412.569834",
        "type": "inject",
        "z": "36b23c0d.bf2cec",
        "name": "$RESET",
        "topic": "",
        "payload": "$RESET",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1140,
        "y": 920,
        "wires": [
            [
                "9691d119.65a3b8"
            ]
        ]
    },
    {
        "id": "f3de0dda.7dea38",
        "type": "inject",
        "z": "36b23c0d.bf2cec",
        "name": "$RESET Every hour",
        "topic": "",
        "payload": "$RESET",
        "payloadType": "str",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "30*60",
        "x": 1000,
        "y": 1020,
        "wires": [
            [
                "ef6259c8.2934d8"
            ]
        ]
    },
    {
        "id": "ef6259c8.2934d8",
        "type": "mqtt out",
        "z": "36b23c0d.bf2cec",
        "name": "Atom-Lite Command",
        "topic": "/device/atom-lite-1/command",
        "qos": "",
        "retain": "",
        "broker": "60f1f31.234c40c",
        "x": 1300,
        "y": 1020,
        "wires": []
    },
    {
        "id": "32507a5.4ebf586",
        "type": "debug",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2030,
        "y": 40,
        "wires": []
    },
    {
        "id": "a0c19328.a60068",
        "type": "inject",
        "z": "36b23c0d.bf2cec",
        "name": "$RESET Every 10 mins",
        "topic": "",
        "payload": "$RESET",
        "payloadType": "str",
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 990,
        "y": 980,
        "wires": [
            [
                "9691d119.65a3b8"
            ]
        ]
    },
    {
        "id": "a5b1d0b9.8b0b58",
        "type": "trigger",
        "z": "36b23c0d.bf2cec",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "8",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "ONLINE",
        "x": 1840,
        "y": 580,
        "wires": [
            [
                "32507a5.4ebf586"
            ]
        ]
    },
    {
        "id": "93cd981e.a4bb",
        "type": "function",
        "z": "36b23c0d.bf2cec",
        "name": "Map to TOGGLE",
        "func": "msg.payload = \"EV_DOUBLE_CLICK\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 900,
        "wires": [
            [
                "3d1ca5ff.a405e2"
            ]
        ]
    },
    {
        "id": "3d1ca5ff.a405e2",
        "type": "subflow:608fb6b.30be348",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT05 commands",
        "env": [
            {
                "name": "SMTSKTNUM",
                "value": "05",
                "type": "str"
            }
        ],
        "x": 950,
        "y": 780,
        "wires": [
            [
                "a447c003.06d5e8"
            ],
            []
        ]
    },
    {
        "id": "8cba2d5b.2788e8",
        "type": "switch",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "EV_CLICKED",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 900,
        "wires": [
            [
                "93cd981e.a4bb"
            ]
        ]
    },
    {
        "id": "dd3c58d6.c5174",
        "type": "debug",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 440,
        "y": 1340,
        "wires": []
    },
    {
        "id": "77195f9d.27e5e",
        "type": "subflow:608fb6b.30be348",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT02 commands",
        "env": [
            {
                "name": "SMTSKTNUM",
                "value": "02",
                "type": "str"
            }
        ],
        "x": 1030,
        "y": 1540,
        "wires": [
            [
                "a3783ff3.eb7f28"
            ],
            []
        ]
    },
    {
        "id": "9974b7e3.0311d",
        "type": "subflow:608fb6b.30be348",
        "z": "36b23c0d.bf2cec",
        "name": "SMTSKT04 commands",
        "env": [
            {
                "name": "SMTSKTNUM",
                "value": "04",
                "type": "str"
            }
        ],
        "x": 1030,
        "y": 1580,
        "wires": [
            [
                "a3783ff3.eb7f28"
            ],
            []
        ]
    },
    {
        "id": "3da776e5.3a774a",
        "type": "function",
        "z": "36b23c0d.bf2cec",
        "name": "EV_OFF",
        "func": "msg.payload = \"EV_OFF\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 1540,
        "wires": [
            [
                "77195f9d.27e5e",
                "9974b7e3.0311d"
            ]
        ]
    },
    {
        "id": "a3783ff3.eb7f28",
        "type": "mqtt out",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "1587791.fcbfc07",
        "x": 1250,
        "y": 1560,
        "wires": []
    },
    {
        "id": "f8b494fc.546428",
        "type": "comment",
        "z": "36b23c0d.bf2cec",
        "name": "Turn Desk lights OFF when PC turns OFF",
        "info": "",
        "x": 1080,
        "y": 1500,
        "wires": []
    },
    {
        "id": "fe932bc2.638e58",
        "type": "debug",
        "z": "e37df6bc.11daa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 420,
        "y": 440,
        "wires": []
    },
    {
        "id": "f1c9730.8c09b9",
        "type": "mqtt in",
        "z": "e37df6bc.11daa",
        "name": "",
        "topic": "octoprint/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "1587791.fcbfc07",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "e9b84f8a.f608f"
            ]
        ]
    },
    {
        "id": "5dc9b2d.771524c",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "5c:9b:9f (Heatpump)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.state.temperature",
        "targetType": "msg",
        "x": 1440,
        "y": 580,
        "wires": []
    },
    {
        "id": "b23b5265.41a69",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "Greenhouse temp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.state.temperature",
        "targetType": "msg",
        "x": 1410,
        "y": 620,
        "wires": []
    },
    {
        "id": "bc41227.b8bc96",
        "type": "link out",
        "z": "6461f072.dc1338",
        "name": "Greenhouse temp",
        "links": [],
        "x": 1255,
        "y": 620,
        "wires": [],
        "icon": "font-awesome/fa-thermometer-0"
    },
    {
        "id": "dbb10537.b1f528",
        "type": "switch",
        "z": "6461f072.dc1338",
        "name": "Temperatures",
        "property": "payload.uniqueid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "00:15:8d:00:04:5c:9b:9f-01-0402",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "00:15:8d:00:04:87:2e:a4-01-0402",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "00:15:8d:00:03:23:2b:69-01-0402",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "00:15:8d:00:05:43:b0:53-01-0402",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "00:15:8d:00:03:6b:31:e1-01-0402",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "00:15:8d:00:03:21:84:d9-01-0402",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "00:15:8d:00:04:7b:3c:ef-01-0402",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "00:15:8d:00:03:96:ed:78-01-0402",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "00:15:8d:00:05:40:49:7c-01-0402",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 10,
        "x": 620,
        "y": 600,
        "wires": [
            [
                "9fc3835b.fa77b8"
            ],
            [
                "5d4017d0.ec09c8"
            ],
            [
                "ccec4d50.9c546"
            ],
            [
                "c37d4942.07d8d"
            ],
            [
                "db375a44.d0f56"
            ],
            [
                "9d886bac.493208"
            ],
            [
                "14d53414.c485a4"
            ],
            [
                "e6df3c84.678fa8"
            ],
            [
                "34cc01d5.6f69ae"
            ],
            [
                "1edae67.92bd69a"
            ]
        ]
    },
    {
        "id": "1edae67.92bd69a",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "otherwise",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1140,
        "y": 940,
        "wires": []
    },
    {
        "id": "c43ad1b7.5581b",
        "type": "switch",
        "z": "6461f072.dc1338",
        "name": "Vibrations",
        "property": "payload.uniqueid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "00:15:8d:00:03:12:e9:bc-01-0101",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 440,
        "wires": [
            [
                "28f36dab.d4fd32"
            ],
            [
                "84936d04.579db8"
            ]
        ]
    },
    {
        "id": "84936d04.579db8",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "Other vibrations",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 800,
        "y": 460,
        "wires": []
    },
    {
        "id": "3cb416ce.b0d912",
        "type": "switch",
        "z": "6461f072.dc1338",
        "name": "isTemperature",
        "property": "payload.state.temperature",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 500,
        "wires": [
            [
                "dbb10537.b1f528",
                "9bd4851.51cb3f8"
            ]
        ]
    },
    {
        "id": "f278533b.6f499",
        "type": "switch",
        "z": "6461f072.dc1338",
        "name": "is vibration",
        "property": "payload.state.vibration",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 460,
        "wires": [
            [
                "c43ad1b7.5581b"
            ]
        ]
    },
    {
        "id": "e6df3c84.678fa8",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "96:ed:78",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1140,
        "y": 860,
        "wires": []
    },
    {
        "id": "9ab6d880.9a8e",
        "type": "switch",
        "z": "6461f072.dc1338",
        "name": "is button",
        "property": "payload.state.buttonevent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 320,
        "y": 420,
        "wires": [
            [
                "6639cee5.78008"
            ]
        ]
    },
    {
        "id": "6639cee5.78008",
        "type": "switch",
        "z": "6461f072.dc1338",
        "name": "buttons",
        "property": "payload.uniqueid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "00:15:8d:00:01:e7:9b:8b-01-0012",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "00:15:8d:00:02:00:8b:f3-01-0006",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 600,
        "y": 140,
        "wires": [
            [],
            [
                "20f92b84.9ee024",
                "75000341.e60aa4"
            ],
            [
                "20f92b84.9ee024"
            ]
        ]
    },
    {
        "id": "1bd051e8.9292e6",
        "type": "switch",
        "z": "dbc7cc2c.c9d8f8",
        "name": "Button Events",
        "property": "payload.state.buttonevent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1004",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1005",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1006",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1001",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1003",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 200,
        "y": 80,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ],
        "outputLabels": [
            "Click",
            "Double Click",
            "Triple Click",
            "Quad Click",
            "Hold",
            "Released",
            "Otherwise"
        ],
        "icon": "node-red-contrib-deconz/deconz.png"
    },
    {
        "id": "c89990de.cc917",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.state.buttonevent",
        "targetType": "msg",
        "x": 1130,
        "y": 180,
        "wires": []
    },
    {
        "id": "8e02d74a.18046",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "JSON",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 170,
        "y": 380,
        "wires": []
    },
    {
        "id": "581f45d8.539d64",
        "type": "switch",
        "z": "6461f072.dc1338",
        "name": "is Cube",
        "property": "payload.uniqueid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "00:15:8d:00:02:89:d7:0a-02-0012",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "00:15:8d:00:02:9a:77:0c-02-0012",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 380,
        "wires": [
            [
                "4993ed64.3b02b4"
            ],
            [
                "baab9cde.07c038"
            ]
        ],
        "outputLabels": [
            "Cube 1",
            "Cube 2"
        ]
    },
    {
        "id": "2201732c.044f2c",
        "type": "debug",
        "z": "36b23c0d.bf2cec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "8b26b83e.2a5368",
        "type": "function",
        "z": "6461f072.dc1338",
        "name": "is motion",
        "func": "if (msg.payload.uniqueid === \"00:15:8d:00:02:fd:56:d4-01-0406\" ||\n    msg.payload.uniqueid === \"00:15:8d:00:03:20:26:a9-01-0406\")\n    return msg;\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 340,
        "wires": [
            [
                "14658f29.c74fc1"
            ]
        ]
    },
    {
        "id": "14658f29.c74fc1",
        "type": "switch",
        "z": "6461f072.dc1338",
        "name": "",
        "property": "payload.uniqueid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "00:15:8d:00:02:fd:56:d4-01-0406",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "00:15:8d:00:03:20:26:a9-01-0406",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 610,
        "y": 340,
        "wires": [
            [
                "b1ea6c6d.c5d978",
                "f76380f1.c195a8"
            ],
            [
                "c1acb9a1.3d50c",
                "8fe37628.12ef28"
            ],
            []
        ],
        "outputLabels": [
            "Workshop door",
            "Kitchen",
            ""
        ]
    },
    {
        "id": "f76380f1.c195a8",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "dfde9ff7.19a588",
        "type": "switch",
        "z": "6461f072.dc1338",
        "name": "is lights",
        "property": "payload.r",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "lights",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 320,
        "y": 540,
        "wires": [
            [
                "b687df15.407bd8",
                "45d3d5e1.10e164",
                "d212f1cb.f2deb"
            ]
        ]
    },
    {
        "id": "b687df15.407bd8",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 740,
        "wires": []
    },
    {
        "id": "45d3d5e1.10e164",
        "type": "switch",
        "z": "6461f072.dc1338",
        "name": "Cave Lights",
        "property": "payload.uniqueid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "00:15:8d:00:05:43:2d:8e-01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "00:15:8d:00:03:96:ed:78-01",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d212f1cb.f2deb",
        "type": "switch",
        "z": "6461f072.dc1338",
        "name": "Lounge Lights",
        "property": "payload.uniqueid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "00:15:8d:00:03:e7:f4:d2-01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "00:15:8d:00:03:96:aa:c5-01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "00:15:8d:00:03:e7:93:54-01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "00:15:8d:00:03:cb:69:9c-01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "00:15:8d:00:03:cb:67:c4-01",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 620,
        "y": 800,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "9bd4851.51cb3f8",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 500,
        "wires": []
    },
    {
        "id": "5d4017d0.ec09c8",
        "type": "function",
        "z": "6461f072.dc1338",
        "name": "Greenhouse (87:2e:a4)",
        "func": "msg.shortid = \"87:2e:a4\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 620,
        "wires": [
            [
                "b23b5265.41a69",
                "bc41227.b8bc96"
            ]
        ]
    },
    {
        "id": "9809afe8.feeb98",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "3D Printer (43:b0:53)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1440,
        "y": 700,
        "wires": []
    },
    {
        "id": "668efae2.1ea2cc",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "23:2b:69 (Front Door)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1440,
        "y": 660,
        "wires": []
    },
    {
        "id": "439ab04e.b34a8",
        "type": "link out",
        "z": "6461f072.dc1338",
        "name": "Front Door",
        "links": [
            "32e25ef6.359b4a"
        ],
        "x": 1255,
        "y": 660,
        "wires": [],
        "icon": "font-awesome/fa-thermometer-0"
    },
    {
        "id": "32e25ef6.359b4a",
        "type": "link in",
        "z": "81285515.4f20b",
        "name": "Front Door",
        "links": [
            "439ab04e.b34a8"
        ],
        "x": 560,
        "y": 380,
        "wires": [
            [
                "2edd809c.16433"
            ]
        ],
        "l": true
    },
    {
        "id": "1259d8cc.10e887",
        "type": "link in",
        "z": "81285515.4f20b",
        "name": "Heatpump",
        "links": [
            "f7b9e9b7.560f4"
        ],
        "x": 740,
        "y": 580,
        "wires": [
            [
                "658f283f.a87fc8"
            ]
        ],
        "l": true
    },
    {
        "id": "ccec4d50.9c546",
        "type": "function",
        "z": "6461f072.dc1338",
        "name": "Front Door (23:2b:69)",
        "func": "msg.shortid = \"23:2b:69\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 660,
        "wires": [
            [
                "439ab04e.b34a8",
                "668efae2.1ea2cc"
            ]
        ]
    },
    {
        "id": "c37d4942.07d8d",
        "type": "function",
        "z": "6461f072.dc1338",
        "name": "3D Printer (43:b0:53)",
        "func": "msg.shortid = \"43:b0:53\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 700,
        "wires": [
            [
                "98c74e64.f4d898",
                "9809afe8.feeb98"
            ]
        ]
    },
    {
        "id": "9fc3835b.fa77b8",
        "type": "function",
        "z": "6461f072.dc1338",
        "name": "Heatpump (5c:9b:9f)",
        "func": "msg.shortid = \"5c:9b:9f\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 580,
        "wires": [
            [
                "f7b9e9b7.560f4",
                "5dc9b2d.771524c"
            ]
        ]
    },
    {
        "id": "8a5c4eda.d0d648",
        "type": "link in",
        "z": "81285515.4f20b",
        "name": "3D Printer",
        "links": [
            "98c74e64.f4d898"
        ],
        "x": 560,
        "y": 320,
        "wires": [
            [
                "32ec3775.c0efd8"
            ]
        ],
        "l": true
    },
    {
        "id": "cf964234.0ad6",
        "type": "link in",
        "z": "81285515.4f20b",
        "name": "Liam's Room",
        "links": [
            "b80e6287.3313f8"
        ],
        "x": 570,
        "y": 260,
        "wires": [
            [
                "b717e72e.2b7c58"
            ]
        ],
        "l": true
    },
    {
        "id": "cb89330b.8d384",
        "type": "link in",
        "z": "81285515.4f20b",
        "name": "Lounge",
        "links": [
            "dcb269ad.7df1c"
        ],
        "x": 550,
        "y": 440,
        "wires": [
            [
                "a7c7ae60.9433c"
            ]
        ],
        "l": true
    },
    {
        "id": "9d886bac.493208",
        "type": "function",
        "z": "6461f072.dc1338",
        "name": "Lounge (21:84:d9)",
        "func": "msg.shortid = \"21:84:d9\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 780,
        "wires": [
            [
                "dcb269ad.7df1c"
            ]
        ]
    },
    {
        "id": "dcb269ad.7df1c",
        "type": "link out",
        "z": "6461f072.dc1338",
        "name": "Lounge",
        "links": [
            "cb89330b.8d384"
        ],
        "x": 1315,
        "y": 780,
        "wires": [],
        "icon": "font-awesome/fa-thermometer-0"
    },
    {
        "id": "34cc01d5.6f69ae",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "40:49:7c",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1140,
        "y": 900,
        "wires": []
    },
    {
        "id": "98a1cbf6.78206",
        "type": "debug",
        "z": "6461f072.dc1338",
        "name": "Liam's Room (6b:31:e1)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1450,
        "y": 740,
        "wires": []
    },
    {
        "id": "db375a44.d0f56",
        "type": "function",
        "z": "6461f072.dc1338",
        "name": "Liam's Room (6b:31:e1)",
        "func": "msg.shortid = \"6b:31:e1\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 740,
        "wires": [
            [
                "98a1cbf6.78206",
                "b80e6287.3313f8"
            ]
        ]
    },
    {
        "id": "b80e6287.3313f8",
        "type": "link out",
        "z": "6461f072.dc1338",
        "name": "Liam's Room",
        "links": [
            "8ead97a0.4860e",
            "cf964234.0ad6"
        ],
        "x": 1255,
        "y": 740,
        "wires": [],
        "icon": "font-awesome/fa-thermometer-0"
    },
    {
        "id": "91bf021e.dff568",
        "type": "ui_template",
        "z": "81285515.4f20b",
        "group": "a61d83e6.9fdba8",
        "name": "Widget",
        "order": 3,
        "width": "8",
        "height": "4",
        "format": "<div>\n    <p>bottom exmaple</p>\n    <h3>{{msg.name}}</h3>\n    <h1 style=\"font-size: 50px;\">{{msg.payload.state.temperature/100}} &deg;</h1>\n    <p class=\"widget-time\">{{msg.time}}</p>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1480,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "bb449259.f944",
        "type": "ui_template",
        "z": "81285515.4f20b",
        "group": "379f6052.23565",
        "name": "Widget",
        "order": 3,
        "width": "8",
        "height": "4",
        "format": "\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1500,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4650a11f.4472b8",
        "type": "moment",
        "z": "8e16c3f0.e7c9d8",
        "name": "",
        "topic": "",
        "input": "payload.state.lastupdated",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "hh:mm a",
        "locale": "en-NZ",
        "output": "time",
        "outputType": "msg",
        "outTz": "Pacific/Auckland",
        "x": 580,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c0098903.1e9858",
        "type": "function",
        "z": "8e16c3f0.e7c9d8",
        "name": "set \"msg.name\"",
        "func": "msg.name = env.get(\"Name\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "68d2f23f.b65bec"
            ]
        ]
    },
    {
        "id": "68d2f23f.b65bec",
        "type": "function",
        "z": "8e16c3f0.e7c9d8",
        "name": "Validate",
        "func": "if (msg.payload.state !== undefined)\n{\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "4650a11f.4472b8"
            ]
        ]
    },
    {
        "id": "81faaf4b.829cd",
        "type": "subflow:8e16c3f0.e7c9d8",
        "z": "81285515.4f20b",
        "name": "Liam's Room",
        "env": [
            {
                "name": "Name",
                "value": "Liam's Room",
                "type": "str"
            }
        ],
        "x": 1110,
        "y": 260,
        "wires": [
            [
                "bb449259.f944"
            ],
            [
                "46563dab.8fbf64"
            ]
        ]
    },
    {
        "id": "46563dab.8fbf64",
        "type": "ui_chart",
        "z": "81285515.4f20b",
        "name": "Liam's Room",
        "group": "379f6052.23565",
        "order": 0,
        "width": "8",
        "height": "3",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#008040",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1510,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6a19029b.00688c",
        "type": "function",
        "z": "8e16c3f0.e7c9d8",
        "name": "Convert to payload",
        "func": "msg.payload = msg.payload.state.temperature/100.0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b717e72e.2b7c58",
        "type": "function",
        "z": "81285515.4f20b",
        "name": "template",
        "func": "msg.template = `\n    <div>\n        <h3>{{msg.name}}</h3>\n        <h1 style=\"font-size: 70px;\">{{msg.payload.state.temperature/100}} &deg;</h1>\n        <p class=\"widget-time\">{{msg.time}} ({{msg.shortid}})</p>\n    </div>`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 260,
        "wires": [
            [
                "81faaf4b.829cd"
            ]
        ]
    },
    {
        "id": "8042dd2.34841a",
        "type": "inject",
        "z": "81285515.4f20b",
        "name": "",
        "topic": "",
        "payload": "{\"state\":{\"temperature\":1234}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "b717e72e.2b7c58"
            ]
        ]
    },
    {
        "id": "7cfa5026.1af83",
        "type": "inject",
        "z": "81285515.4f20b",
        "name": "",
        "topic": "",
        "payload": "{\"state\":{\"temperature\":1234}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 730,
        "y": 540,
        "wires": [
            [
                "658f283f.a87fc8"
            ]
        ]
    },
    {
        "id": "a0b8cbf.0238ab8",
        "type": "subflow:8e16c3f0.e7c9d8",
        "z": "81285515.4f20b",
        "name": "Heatpump",
        "env": [
            {
                "name": "Name",
                "value": "Heatpump",
                "type": "str"
            }
        ],
        "x": 1170,
        "y": 580,
        "wires": [
            [
                "91bf021e.dff568"
            ],
            [
                "a9cbb741.bb409"
            ]
        ]
    },
    {
        "id": "658f283f.a87fc8",
        "type": "function",
        "z": "81285515.4f20b",
        "name": "template",
        "func": "msg.template = `\n    <div>\n        <h3>{{msg.name}}</h3>\n        <h1 style=\"font-size: 70px;\">{{msg.payload.state.temperature/100}} &deg;</h1>\n        <p class=\"widget-time\">{{msg.time}} ({{msg.shortid}})</p>\n    </div>`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 580,
        "wires": [
            [
                "a0b8cbf.0238ab8"
            ]
        ]
    },
    {
        "id": "a9cbb741.bb409",
        "type": "ui_chart",
        "z": "81285515.4f20b",
        "name": "Heatpump",
        "group": "a61d83e6.9fdba8",
        "order": 0,
        "width": "8",
        "height": "3",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#008040",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1490,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "33e2898f.8de50e",
        "type": "ui_template",
        "z": "81285515.4f20b",
        "group": "283c2dd8.70f82a",
        "name": "Widget",
        "order": 3,
        "width": "8",
        "height": "4",
        "format": "\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1320,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "825298b.b99e3e8",
        "type": "subflow:8e16c3f0.e7c9d8",
        "z": "81285515.4f20b",
        "name": "3D Printer",
        "env": [
            {
                "name": "Name",
                "value": "3D Printer",
                "type": "str"
            }
        ],
        "x": 930,
        "y": 320,
        "wires": [
            [
                "33e2898f.8de50e"
            ],
            []
        ]
    },
    {
        "id": "32ec3775.c0efd8",
        "type": "function",
        "z": "81285515.4f20b",
        "name": "template",
        "func": "msg.template = `\n    <div>\n        <h3>{{msg.name}}</h3>\n        <h1 style=\"font-size: 70px;\">{{msg.payload.state.temperature/100}} &deg;</h1>\n        <p class=\"widget-time\">{{msg.time}} ({{msg.shortid}})</p>\n    </div>`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 320,
        "wires": [
            [
                "825298b.b99e3e8"
            ]
        ]
    },
    {
        "id": "2aed0609.098c2a",
        "type": "ui_template",
        "z": "81285515.4f20b",
        "group": "283c2dd8.70f82a",
        "name": "Widget",
        "order": 3,
        "width": "8",
        "height": "4",
        "format": "\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1320,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "5e11da2a.fb5934",
        "type": "subflow:8e16c3f0.e7c9d8",
        "z": "81285515.4f20b",
        "name": "Front Door",
        "env": [
            {
                "name": "Name",
                "value": "Front Door",
                "type": "str"
            }
        ],
        "x": 930,
        "y": 380,
        "wires": [
            [
                "2aed0609.098c2a"
            ],
            []
        ]
    },
    {
        "id": "2edd809c.16433",
        "type": "function",
        "z": "81285515.4f20b",
        "name": "template",
        "func": "msg.template = `\n    <div>\n        <h3>{{msg.name}}</h3>\n        <h1 style=\"font-size: 70px;\">{{msg.payload.state.temperature/100}} &deg;</h1>\n        <p class=\"widget-time\">{{msg.time}} ({{msg.shortid}})</p>\n    </div>`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 380,
        "wires": [
            [
                "5e11da2a.fb5934"
            ]
        ]
    },
    {
        "id": "5c944acd.dfda0c",
        "type": "ui_template",
        "z": "81285515.4f20b",
        "group": "283c2dd8.70f82a",
        "name": "Widget",
        "order": 3,
        "width": "8",
        "height": "4",
        "format": "\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1320,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "77cb6da9.cc84ec",
        "type": "subflow:8e16c3f0.e7c9d8",
        "z": "81285515.4f20b",
        "name": "Lounge",
        "env": [
            {
                "name": "Name",
                "value": "Lounge",
                "type": "str"
            }
        ],
        "x": 920,
        "y": 440,
        "wires": [
            [
                "5c944acd.dfda0c"
            ],
            []
        ]
    },
    {
        "id": "a7c7ae60.9433c",
        "type": "function",
        "z": "81285515.4f20b",
        "name": "template",
        "func": "msg.template = `\n    <div>\n        <h3>{{msg.name}}</h3>\n        <h1 style=\"font-size: 70px;\">{{msg.payload.state.temperature/100}} &deg;</h1>\n        <p class=\"widget-time\">{{msg.time}} ({{msg.shortid}})</p>\n    </div>`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 440,
        "wires": [
            [
                "77cb6da9.cc84ec"
            ]
        ]
    },
    {
        "id": "75000341.e60aa4",
        "type": "subflow:dbc7cc2c.c9d8f8",
        "z": "6461f072.dc1338",
        "name": "",
        "env": [],
        "x": 880,
        "y": 140,
        "wires": [
            [
                "c7167ed7.b82408"
            ],
            [
                "c89990de.cc917"
            ],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "c127ef4e.40d3c8",
        "type": "link out",
        "z": "6461f072.dc1338",
        "name": "/device/aqara/motion/kitchen",
        "links": [
            "c7c1cc45.5210f"
        ],
        "x": 1220,
        "y": 360,
        "wires": [],
        "l": true
    },
    {
        "id": "c7c1cc45.5210f",
        "type": "link in",
        "z": "94f6bb63.1811a8",
        "name": "/device/aqara/motion/kitchen",
        "links": [
            "c127ef4e.40d3c8"
        ],
        "x": 220,
        "y": 520,
        "wires": [
            [
                "2d44d288.9fd2c6"
            ]
        ],
        "l": true
    }
]
